<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Molecular Test</h3>
                    <h4>{{data.nombre}} {{data.apellidoPaterno}} {{data.apellidoMaterno}}</h4>
                    <a href="/molecularTest/resultados" class="btn btn-primary m-4">
                        Ver resultados de prueba.   
                    </a>
                    <a href="/molecularTest/agendarPrueba" class="btn btn-primary m-4">
                        Agendar prueba.    
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>