<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Molecular Test</h3>
                    <h4>{{user.fullname}}</h4>
                    <a href="/concierge/citas" class="btn btn-primary m-4">
                        Citas   
                    </a>
                    <a href="/concierge/medicamentos" class="btn btn-primary m-4">
                        Medicamentos    
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>