<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Proceso de reembolso</h3>
        </div>
        <div class="card-body">
          <form action="/concierge/gestionSeguro" method="POST">
            <div class="form-group">
              <input type="type" name="motivo" placeholder="Motivo" class="form-control" autofocus>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="IDAseguradora">
                <option selected>Choose...</option>
                {{#each seguros}}
                <option value={{IDAseguradora}} selected> {{nombre}}</option>
                {{/each}}
            </select>

            <div class="form-group">
              <button class="btn btn-success btn-block">
                Iniciar Proceso
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>