<div class="container p-4">
    <div class="row">
        {{#each medicamentos}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{nombreMedicamento}}
                        </h3>
                    <p class="text-muted">
                        {{indicaciones}}
                    </p>
                    <p class="text-muted">
                        {{timeago created_at}}
                    </p>

                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay ningun medicamento asociado.</p>

            </div>
        </div>
        {{/each}}
    </div>
</div>