<body>
AVISO DE PRIVACIDAD
MAGA (en lo sucesivo “MAGA”), con domicilio en XXXXXXX, es el responsable del uso y protección de los datos personales de los cuales seas titular y que llegues a transferir a MAGA en virtud de los servicios que adquieras de esta última. Esto en cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su reglamento (en adelante de manera conjunta “La LFPDP”). Al respecto, MAGA hace de tu conocimiento el tratamiento que dará a los datos personales que sean recabados de manera directa en su establecimiento; vía telefónica; por correo electrónico, redes sociales (Twitter, Facebook, LinkedIn, etc.) y/o a través de la plataforma electrónica de MAGA, definida en el capítulo de Datos Generales de este documento. MAGA garantiza que el tratamiento de tus datos personales se llevará a cabo de manera legítima, controlada e informada, preservando tu derecho a la privacidad y a la autodeterminación informativa, mediante el uso e implementación de altas medidas de seguridad técnicas, físicas y administrativas, a fin de impedir cualquier daño, perdida, alteración, destrucción, uso, acceso o tratamiento no autorizado.

I.- DATOS GENERALES 
MAGA es una empresa que ha desarrollado una plataforma electrónica, que se integra de software, aplicaciones y servicios, con la finalidad de ofrecer una variedad de productos de gestión y administración en materia de salud, destinados principalmente a personas con enfermedades crónico-degenerativas. La dirección electrónica de esta plataforma es www.maga.mx  (en lo sucesivo la “PLATAFORMA ELECTRÓNICA”).
El domicilio de MAGA se encuentra ubicado en XXXXXX. El teléfono es: XXXXXXX.

II.- ¿A QUIÉN ESTÁ DIRIGIDO ESTE AVISO DE PRIVACIDAD 
A toda aquella persona física que se encuentre interesada en adquirir alguno de los productos y/o servicios que ofrece MAGA en la PLATAFORMA ELECTRÓNICA. En este caso, MAGA requerirá que tú como interesado en los productos y/o servicios que ofrece MAGA, nos proporciones datos personales de los cuales seas titular y, siempre y cuando estés de acuerdo con el presente Aviso de Privacidad. De no estar de acuerdo, no podremos proveerte de los productos y/o servicios que ofrecemos. (en lo sucesivo en este documento, si caes dentro de esta definición, te llamaremos el “USUARIO”).
III.- DATOS PERSONALES QUE SE PUEDEN LLEGAR A RECABAR
Los datos personales que podemos llegar a recabar son:

DATOS DE CONTACTO: Nombre; apellidos; domicilio; número de teléfono; número de celular; dirección de correo electrónico.
DATOS DE IDENTIFICACIÓN: Para identificar al USUARIO, podemos solicitar: original y copia simple de los siguientes documentos: Credencial de Elector, Pasaporte, Cédula Profesional, comprobante de domicilio; documentos que contienen datos personales tales como: Nombre, edad, sexo, domicilio, huella dactilar, clave de elector, Clave Única de Registro de Población, fotografía, firma autógrafa, registro federal de contribuyentes, fecha de nacimiento, lugar de nacimiento, nacionalidad, estado civil, grado de estudios. 
DATOS FINANCIEROS Y/O PATRIMONIALES: En el caso de que requieras algunos de los servicios que ofrece MAGA para gestionar pagos: recabamos los siguientes datos financieros y/o patrimoniales, que bajo ciertos contextos, podrían resultar ser datos de carácter SENSIBLE: Datos relativos a relaciones bancarias y crediticias, tales como: Nombre del Banco donde tenga el USUARIO su cuenta bancaria, clabe, copia simple de estados de cuenta bancarios, los cuales contienen información de los depósitos y retiros realizados de tus cuentas, cheques que hayan cobrado o pagado, comisiones cobradas, pagos realizados y nombre de los beneficiarios de dichos pagos, nombre de las personas que realicen depósitos a las respectivas cuentas; estados financieros; declaraciones fiscales y facturación.
DATOS PERSONALES SENSIBLES: Respecto a aquellos datos personales sensibles descritos, definidos y relacionados en forma específica en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, recabamos los siguientes:  Datos de estado de salud, podemos recabar información proporcionada en estudios de laboratorio, dictámenes médicos, recetas medidas, información genética.

Otros tipos de información que se puede llegar a recabar:
Cookies y/o Web Beacons
En ocasiones, MAGA y/o los navegadores que se utilizan como auxiliares para acceder a la página web de MAGA, almacenan cookies y/o web beacons en las computadoras y/o demás dispositivos que utilicen los titulares de datos personales para navegar por Internet y acceder a la página web respectiva.
Los cookies y web beacons son pequeñas piezas de información que son enviadas por el sitio Web a tu navegador y se almacenan en el disco duro de tu equipo y se utilizan para brindar mayor eficiencia en el servicio, para determinar tus preferencias cuando te conectas a los servicios de nuestros sitios, así como para rastrear determinados comportamientos o actividades llevadas a cabo por ti, como titular de datos personales dentro de nuestros sitios.
En algunas secciones de nuestro sitio podríamos requerir que tengas habilitados los cookies y web beacons ya que algunas de las funcionalidades requieren de éstas para trabajar. Los cookies y web beacons nos permiten: a) reconocerte al momento de entrar a nuestros sitios y ofrecerte una experiencia personalizada, b) conocer la configuración personal del sitio especificada por ti, por ejemplo, los cookies nos permiten detectar el ancho de banda que has seleccionado al momento de ingresar al home page de nuestros sitios, de tal forma que sabemos qué tipo de información es aconsejable descargar, c) calcular el tamaño de nuestra audiencia y medir algunos parámetros de tráfico, pues cada navegador que obtiene acceso a nuestros sitios adquiere un cookie que se usa para determinar la frecuencia de uso y las secciones de los sitios visitadas, reflejando así tus hábitos y preferencias, información que nos es útil para mejorar el contenido, los titulares y las promociones para los usuarios. 

Las cookies también nos ayudan a rastrear algunas actividades, por ejemplo, en algunas de las encuestas, cuestionarios y/o información de contacto que lanzamos en línea, podemos utilizar cookies para detectar si has llenado la encuesta y/o información solicitada, y evitar desplegarla nuevamente, en caso de que lo hayas hecho. Sin embargo, las cookies te permitirán tomar ventaja de las características más benéficas que te ofrecemos, por lo que te recomendamos que las dejes activadas.
La utilización de cookies y web beacons no será utilizada para identificarte personalmente, con excepción de los casos en que se investiguen posibles actividades fraudulentas.

IV.- FINALIDAD
¿Para qué utilizamos tus datos personales?
Finalidades Primarias
MAGA ha recabado y recabará Datos de Contacto y Datos de Identificación, propiedad del USUARIO, para fines de poder cerciorarnos de tu identidad y, en su caso, de tu capacidad legal para adquirir los productos y/o servicios que ofrece MAGA; así como para fines de envío de facturas y confirmación de pagos; y también para fines de la contratación de los productos y/o los servicios que ofrecemos.
Los datos Financieros y Patrimoniales, y Datos de Salud: los recabamos para los siguientes efectos:  (1) Dar trámite a la solicitud del USUARIO respecto a la obtención de uno de los productos y servicios en el que se muestre interesado; (2) Para efectos de proveerle el servicio de uso de la PLATAFORMA ELECTRÓNICA; y (3) en general, para dar cumplimiento a la contratación de los productos y/o servicios que ofrece MAGA y, siempre y cuando, el USUARIO esté de acuerdo en contratar el producto y/o servicio de que se trate, y sea necesario para efectos del mismo.
Finalidades Secundarias
Por otro lado, también podremos usar los datos personales propiedad del USUARIO, para fines de estudios de mercado relacionados con los productos y/o servicios que ofrecemos. Así mismo, pudiera utilizarse la información personal para que MAGA ofrezca productos y/o servicios relacionados vía correo electrónico, vía telefónica o física, siempre en cumplimiento de la LFPDP y de la Ley de la Procuraduría Federal del Consumidor. 
En caso de que tú como USUARIO no desees que tus datos personales sean tratados para estos fines adicionales haz click en la siguiente casilla:

La negativa para el uso de tus datos personales para estas finalidades secundarias, no podrá ser un motivo para que te neguemos como USUARIO los productos y/o servicios que solicites contratar con nosotros.
La información que nos brindes como USUARIO, deberá ser veraz, exacta, vigente, auténtica y completa; tú como USUARIO eres responsable de cumplir con esto y te comprometes a mantener la información debidamente actualizada.
 Para tal efecto tendrás el derecho de acceso a la información que nos proporcionaste y la posibilidad de rectificar y actualizar la información en cualquier momento, de conformidad con lo previsto en el presente Aviso de Privacidad. 

V.- FORMA EN QUE RECABAMOS TUS DATOS PERSONALES
La forma de recabar tus datos personales es: 
(1)	En forma directa: (i) Si acudes a nuestras oficinas a celebrar con nosotros alguna operación comercial; o cuando acudimos a tus oficinas o al domicilio que nos indiques para el mismo fin; (ii) cuando sostienes una llamada telefónica con alguno de nuestros representantes en tu carácter de USUARIO.
(2)	Vía PLATAFORMA ELECTRÓNICA: Podrás ingresar tus datos vía la siguiente página web: http://www.maga.mx, lugar donde se encuentra publicado este Aviso de Privacidad.
(3)	 Vía correo electrónico: para lo cual te haremos saber sobre este aviso de privacidad. Los datos personales sensibles sólo los recabamos vía nuestra PLATAFORMA ELECTRÓNICA, la cual ofrece las medidas de protección suficientes y adecuadas para resguardar esta información. 

VI.- TEMPORALIDAD DEL TRATAMIENTO DE LOS DATOS PERSONALES
Tus datos personales serán tratados únicamente por el tiempo necesario a fin de cumplir con las finalidades previstas en este AVISO DE PRIVACIDAD y/o de conformidad con lo dispuesto en la legislación mexicana vigente y demás disposiciones legales aplicables relativas a los plazos de conservación de información.

VII.-¿QUÉ PASA SI MAGA NO TIENE LOS DATOS PERSONALES DEL USUARIO?
En el supuesto de que MAGA no cuente con los datos personales antes enumerados, o de que el USUARIO desee ejercer su derecho de oposición o cancelación de datos conforme lo previsto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares; MAGA no podrá celebrar contrato u operación comercial con el USUARIO o con su representada y/o apoderada.
En el caso de aquellos datos que se le solicitan al USUARIO cuando visita las instalaciones de MAGA a efecto de poder identificarlo, si no quisiera proporcionarlos, entonces no podrá entrar a las instalaciones respectivas.

VIII.- DERECHOS ARCO
Tú como USUARIO tienes el derecho de acceder a los datos personales de tu propiedad, que poseemos y a los detalles del tratamiento de los mismos, así como a rectificarlos en caso de ser inexactos. 
También tienes el derecho de instruirnos cancelarlos, siempre y cuando no exista una obligación pendiente derivada del contrato o de la operación comercial que hayas celebrado con MAGA u obligación pendiente que cumplir ya sea por MAGA, por ti como USUARIO o por tu representada y/o apoderada, de conformidad con las disposiciones legales vigentes.
Tú, como titular de los datos personales podrá ejercer los derechos de acceso, rectificación, cancelación y oposición respecto a los datos personales de tu propiedad, haciendo una solicitud a MAGA vía correo electrónico a arobot@gmail.com , indicando por lo menos lo siguiente:
i)	Nombre, domicilio y dirección de correo electrónico;
ii)	Si eres USUARIO;
iii)	Documentos que acrediten tu identidad, o , en su caso, la representación legal;
iv)	Descripción clara y precisa de los datos personales respecto de los que busques ejercer alguno de los derechos antes mencionados;
v)	Cualquier otro elemento o documento que facilite la localización de los datos personales respectivos.
En un plazo máximo de veinte días hábiles contados desde la fecha en que recibamos tu solicitud, atenderemos tu petición y te haremos saber sobre la procedencia de la misma, a través de la dirección de correo electrónico que nos hayas proporcionado en tu solicitud.

IX.- RESPONSABLE DE ATENDER SOLICITUDES ARCO.
Nuestro responsable de atender las solicitudes de acceso, rectificación, cancelación y oposición en nombre de MAGA es Andrés Robles Arce, quién se ubica en el mismo domicilio de MAGA, y a quién se puede contactar personalmente en la siguiente dirección de correo electrónico: arobot@gmail.com.

X.- TRANSFERENCIA DE DATOS PERSONALES
La Información que como USUARIO nos proporciones al hacer uso de nuestra PLATAFORMA ELECTRÓNICA y/o al contratar los productos y/o servicios que ofrece MAGA no será transferida.

XI.- REMISIONES
MAGA podrá efectuar remisiones de la información que proporciones como USUARIO, remisiones nacionales y/o extranjeras a terceros que le prestan los servicios necesarios para poder proveerte los productos y/o servicios de MAGA en forma eficiente y conforme a derecho. Estos terceros son nuestros proveedores y/o colaboradores, tales como contadores, abogados, auditores, proveedores de servicios de hospedaje de datos, proveedores de servicios de seguridad en informática, proveedores de servicios de tecnologías de la información, programadores y técnicos involucrados en administrar la PLATAFORMA ELECTRÓNICA, así como empresas con quienes tenemos alianzas para fortalecer los productos y servicios que te ofrecemos. Dichos proveedores se obligarán frente a MAGA a respetar este Aviso de Privacidad y responderán por el mal uso que le pudieran dar a los datos personales a los que lleguen a tener acceso.



XII.- LÍMITE DE USO Y DIVULGACIÓN DE LA INFORMACIÓN
El titular de la información (USUARIO) podrá en cualquier momento limitar el uso y divulgación de los datos personales que haya proporcionado a MAGA mediante una solicitud enviada al responsable de datos personales conforme a lo establecido ante anteriormente, a efecto de ejercer sus derechos ARCO.
Para el supuesto de la información que pudiera llegar a ser recabada por herramientas como Cookies y/o Web Beacons que normalmente utilizan los navegadores y en ocasiones la PLATAFORMA ELECTRÓNICA. Las cookies y/o Web Beacons de los navegadores podrán ser deshabilitadas de acuerdo a los procedimientos indicados por cada navegador en la sección de ayuda.
Al acceder a nuestro sitio web www.maga.mx; existe información almacenada por los navegadores, esta información puede incluir datos personales o no, como email y otros que se solicitan en nuestra página web. Para evitar que terceras personas accedan a ellos es recomendable borrar las cookies después de navegar en nuestro sitio a través del procedimiento indicado por el navegador que estés utilizando. 
Otras opciones y medios que MAGA ofrece al USUARIO para limitar el uso o divulgación de sus datos personales, distintos a derechos ARCO, son:
Registro en el listado de exclusión: Si el USUARIO, autorizó uso de sus datos personales para finalidades secundarias; este último tendrá siempre en los comunicados que reciba de promociones de productos y/o servicios MAGA, la opción de registrarse en un listado de exclusión, o enviar un correo electrónico a arobot@gmail.com, solicitando sea excluido de la lista de envíos de promociones.
Inscripción en el Registro Público para Evitar Publicidad, a cargo de la Procuraduría Federal del Consumidor (PROFECO): Este registro existe con la finalidad de que sus datos personales no sean utilizados para recibir publicidad o promociones de empresas de bienes o servicios. Para mayor información sobre este Registro, el USUARIO puede consultar el portal de internet de PROFECO, o bien ponerse en contacto directo con esta institución.

XIII.- EXCEPCIONES
De conformidad con lo estipulado en los artículos 10, 37 y demás relativos de la LFPDP, MAGA quedará exceptuado de las obligaciones referentes a obtener consentimiento para tratamiento y transferencia de datos personales, cuando:
Para el caso del tratamiento:
1.	Esté previsto en una Ley;
2.	Los datos figuren en fuentes de acceso público;
3.	Los datos personales se sometan a un procedimiento previo de disociación;
4.	Tenga el propósito de cumplir obligaciones derivadas de una relación jurídica entre tú como titular de datos personales y MAGA;
5.	Exista una situación de emergencia que potencialmente pueda dañar a un individuo en su persona o en sus bienes;
6.	Sean indispensables para la atención médica, la prevención, diagnóstico, la prestación de asistencia sanitaria, tratamientos médicos o la gestión de servicios sanitarios;
7.	Se dicte resolución de autoridad competente;

Para el caso de transferencia de datos personales:
1.	Cuando la transferencia esté prevista en una Ley o Tratado en los que México sea parte;
2.	Cuando la transferencia sea necesaria para la prevención o el diagnóstico médico, la prestación de asistencia sanitaria, tratamiento médico o la gestión de servicios sanitarios;
3.	Cuando la transferencia sea efectuada a sociedades controladoras, subsidiarias o afiliadas bajo el control común de MAGA, o a una sociedad matriz o a cualquier sociedad del mismo grupo del responsable que opere bajo los mismos procesos y políticas internas;
4.	Cuando la transferencia sea necesaria por virtud de un contrato celebrado o por celebrar en tu interés, por MAGA y un tercero;
5.	Cuando la transferencia sea necesaria o legalmente exigida para la salvaguarda de un interés público, o para la procuración o administración de justicia;
6.	Cuando la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial y;
7.	Cuando la transferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre MAGA y tú como titular de datos personales. 
 
XIV.- CONSENTIMIENTO
MAGA desea tener una relación de completa lealtad hacia el USUARIO, por lo que queremos que esté consciente y haya leído por completo el presente Aviso y esté completamente de acuerdo con los términos del mismo. Por lo tanto, si está conforme en el tratamiento de sus datos personales, dé click en la casilla de Acepto al final del presente documento.

XV.- MODIFICACIONES
MAGA se reserva el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente Aviso de Privacidad, para la atención de novedades legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios.
Estas modificaciones estarán disponibles al público a través de la PLATAFORMA ELECTRÓNICA: http://www.maga.mx La fecha de la última actualización al presente aviso de privacidad: [29/11/2021).

XVI.-- DENUNCIAS
¿Ante quién puedes presentar tus quejas y denuncias por el tratamiento indebido de tus datos personales?
Si después de habernos solicitado cualquier aclaración por los medios que en este documento le proporcionamos; considera que sus datos personales están siendo tratados en forma indebida; puede interponer la queja o denuncia correspondiente ante el Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI), para mayor información visita www.inai.org.mx.
Si está de acuerdo con el presente Aviso de Privacidad y con lo dispuesto en el mismo respecto al tratamiento de tus datos personales, transferencias y remisiones, haz click en la siguiente casilla:





</body>